<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
  
    
    </system.web>

  <connectionStrings>
    <remove name="VeetUserData" />
    <add name="VeetUserData" connectionString="server=tcp:87.106.188.59,1433;database=VET0188-0299_UserData_Dev;user id=VET0188-0299_Dev;password=Y2FheVGU8p4GDUfY9H8Un0lDqVe7Hq" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
